.colors-top {
  border-top: 2px solid #6b5f77;
  -webkit-box-shadow: 0 2px #e6d6bf, 0 4px #9b9c74, 0 2px #e6d6bf, 0 8px #8c0a00;
  -moz-box-shadow: 0 2px #e6d6bf, 0 4px #9b9c74, 0 2px #e6d6bf, 0 8px #8c0a00;
  box-shadow: 0 2px #e6d6bf, 0 4px #9b9c74, 0 2px #e6d6bf, 0 8px #8c0a00;
}
