nav {
  margin-top: 1em;
}
nav ul {
  list-style: none;
  display: inline-block;
  border-bottom: 2px solid #9b9c74;
  padding-left: 0;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
}
nav ul li a {
  color: #930b3f;
  font-size: 1em;
  text-shadow: 0 1px 1px #eae8e9;
}
nav ul li a:hover {
  color: rgba(147, 11, 63, 0.65);
  text-decoration: none;
}
