nav {
  margin: 0.5em 2em;
}
nav div.show-later {
  box-shadow: 0 -2px 1px #eae8e9;
  list-style: none;
  text-align: center;
}
nav div.show-later:hover {
  box-shadow: 0 2px 1px #ddd3d8;
}
nav div.show-later a.show-later {
  color: #930b3f;
  font-size: 1.2em;
  text-shadow: 0 1px 1px #eae8e9;
}
nav div.show-later a.show-later:hover {
  color: rgba(147, 11, 63, 0.65);
  text-decoration: none;
}
