@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(http://fonts.googleapis.com/css?family=Oxygen);
/*#ffca28*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: black;
}
h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
a {
  color: #ffc616;
}
a:hover {
  color: #ffc616;
  text-decoration: none;
}
p {
  margin-bottom: 20px;
}
.sidebar {
  padding: 70px 30px 30px 30px;
  color: #fff;
  background-color: #160821;
}
.content {
  padding: 30px;
}
.content h1 {
  margin-top: 10px;
}
.project-title {
  margin: 40px 0;
  text-align: center;
}
blockquote p {
  font-size: 14px;
  font-style: italic;
}
blockquote img {
  width: 60px;
  height: 60px;
  float: left;
  margin: 0 20px;
  border-radius: 50%;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: " ";
}
.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.btn-primary {
  width: 100%;
  background-color: #ffc616;
  color: #222;
  font-weight: bold;
  font-size: 22px;
  border: 0;
}
.btn-primary:hover {
  opacity: .9;
  background-color: #ffc616;
  color: #222;
}
.img-responsive {
  width: 100%;
}
.fake-browser-ui {
  padding: 20px 0 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #ddd;
  display: inline-block;
  position: relative;
  line-height: 0;
}
.fake-browser-ui .frame {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}
.fake-browser-ui span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px;
}
.slick-dots li button::before {
  font-size: 8px;
}
