.colors-top {
  border-top: 4px solid #930b3f;
  -webkit-box-shadow: 0 5px #413d3f;
  -moz-box-shadow: 0 5px #413d3f;
  box-shadow: 0 5px #413d3f;
}
nav {
  margin: 0.5em 2em;
}
nav div.show-later {
  box-shadow: 0 -2px 1px #eae8e9;
  list-style: none;
  text-align: center;
}
nav div.show-later:hover {
  box-shadow: 0 2px 1px #ddd3d8;
}
nav div.show-later a.show-later {
  color: #930b3f;
  font-size: 1.2em;
  text-shadow: 0 1px 1px #eae8e9;
}
nav div.show-later a.show-later:hover {
  color: rgba(147, 11, 63, 0.65);
  text-decoration: none;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.hide {
  display: none;
}
html {
  height: 100%;
}
body {
  font-family: 'Scada', sans-serif;
  font-size: 1.5em;
  line-height: 2.5em;
  position: relative;
}
body .top-div {
  border-top: 4px solid #930b3f;
  -webkit-box-shadow: 0 5px #413d3f;
  -moz-box-shadow: 0 5px #413d3f;
  box-shadow: 0 5px #413d3f;
}
.container {
  height: 100%;
}
.container #me-coding {
  font-size: 2.2em;
  padding: .5em 0 0 0;
  color: rgba(206, 204, 204, 0.81);
  text-align: center;
}
.container #name.show-later {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight: 100;
  padding: 1em 0 0 0;
  color: rgba(206, 204, 204, 0.5);
  text-align: center;
}
.container .main {
  padding-top: 3em;
}
.container .main p.show-later {
  color: #5f5c54;
  font-size: 1.7em;
  font-weight: 300;
  line-height: 1.3em;
}
