@import "colors-top";
@import "navigation";
@import "mixins";

html {
	height: 100%;
}

body {
	font-family: 'Scada', sans-serif;
	font-size: 1.5em;
	line-height: 2.5em;
	position: relative;
	
	.top-div {
		.colors-top;
	}
}
	
.container {
	height: 100%;
	
	#me-coding {
		font-size: 2.2em;
		padding: .5em 0 0 0;
		color: rgba(206, 204, 204, 0.81);
		text-align: center;
	}
	
	#name.show-later {
		font-family: 'Dancing Script', cursive;
		font-size: 2em;
		font-weight: 100;
		padding: 1em 0 0 0;
		color: rgba(206, 204, 204, 0.5);
		text-align: center;
	}
	
	.main {
		padding-top: 3em;
		
		p.show-later {
			color: rgb(95, 92, 84);
			font-size: 1.7em;
			font-weight: 300;
			line-height: 1.3em;
		}
	}
}