// out: ../css/style.css

@import url(http://fonts.googleapis.com/css?family=Ledger);
@import "mixins";

@color-background: #eee;
@color-red: #b0282a;
@color-green: #546366;
@color-dark-grey: #545252;
@color-light-grey: #888585;
@color-light: #d1d1d1;



html {
	position: relative;
	height: 100%;
}

#me-coding {
	text-align: center;
	color: #7e724a;
}

#top {
	border-top: 1px solid @color-red;
	-webkit-box-shadow: 0 2px @color-green, 0 4px @color-light;
   	-moz-box-shadow: 0 2px @color-green, 0 4px @color-light;
	box-shadow: 0 2px @color-green, 0 4px @color-light;
}

body {
	height: 100%;
	position: relative;
	font-family: 'Ledger', Arial;
	font-size: 1.5em;
	color: @color-light-grey;
	background-color: @color-background;
}

header {
	
	h1 {
		font-size: 2.2em;
		color: @color-dark-grey;
		.name {
			font-weight: 800;
			color: @color-red;
		} 
	}
}

ul {
	padding-left: 0;
	margin-top: 1.7em;
	list-style: none;

	li {
		display: inline-block;
		margin-right: 2em;
		padding: .1em;
		border: 1px solid @color-light;

		a {
			color: @color-dark-grey;
			font-size: 1.4em;

			&:hover {
				color: @color-dark-grey;
				text-decoration: none;
			}
		}
	}
}

.content {
	min-height: 100%;
	position: relative;
	padding-bottom: 1em;
	
	.container {
		height: 100%;
		position: relative;
	}
}

.main-wrapper {
	padding-top: 2em;
}

.main {
	padding: .5em;

	p {
		font-size: 1.3em;
	}

	.specialize {
		color: @color-dark-grey;
	}
}

.services {
	font-size: .8em;
	
	h3 {
		font-size: 1.6em;
		color: @color-dark-grey;
	}
}

a.btn {
	background-color: @color-light-grey;  
	margin: 1em 0;
	font-weight: 600;
	text-align: center;
	border: 0; 
	
	&:hover {
		background-color: @color-dark-grey;  
	}
}

footer {
	position: absolute;
	bottom: 0;
	height: 1em;
	width: 100%;
	margin-top: 1em;
	background-color: @color-dark-grey;
}