@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@color-light: #fff8e1;
@color-dark: #ffca28;

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: black;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.sidebar {
  padding: 70px 30px 30px 30px;
  color: #fff;
  min-height: 100%;
  background-color: @color-dark;
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%; 	  
  height: 800px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.15) inset;
	border-left: 1px solid rgba(0, 0, 0, 0.5);
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.content {
	padding: 30px;
}

blockquote {
	p {
  	font-size: 14px;
    font-style: italic;
  }
  
  img {
  	width: 60px;
    float: left;
    margin: 0 20px;
  }
  
  footer:before, small:before, .small:before {
  	content: " ";
  }
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.btn-primary {
	width: 100%;
  background-color: @color-dark;
  color: #222;
  font-weight: bold;
  font-size: 22px;
  border: 0;
  
  &:hover {
  	opacity: .7;
    background-color: @color-dark;
    color: #222;
  }
}
